<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	    <context-param>
                <param-name>contextConfigLocation</param-name>
                <param-value>classpath:spring.xml</param-value>
        </context-param>
 		
        <!-- REST Services -->
        <servlet>
                <servlet-name>Rest_Servlet</servlet-name>
                <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
                <init-param>
                        <param-name>com.sun.jersey.config.property.packages</param-name>
                        <param-value>app.wllfengshu.rest</param-value>
                </init-param>
                <init-param> 
					<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name> 
					<param-value>true</param-value> 
				</init-param>
                <load-on-startup>1</load-on-startup>
        </servlet> 
        <servlet-mapping>
                <servlet-name>Rest_Servlet</servlet-name>
                <!-- Redirect any calls to our jersey servlet -->
                <url-pattern>/*</url-pattern>
        </servlet-mapping>
		
	<filter>
	     <filter-name>limitFilter</filter-name>
	     <filter-class>app.wllfengshu.util.LimitFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>limitFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    
	<display-name>Archetype Created Web Application</display-name>
		<!-- 配置Spring监听 -->
        <listener>
                <listener-class>
                        org.springframework.web.context.ContextLoaderListener
                </listener-class>
        </listener>
         <welcome-file-list>
		 	<welcome-file>index.jsp</welcome-file>
		 </welcome-file-list>
</web-app>
